/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --accent-font: 'IBM Plex mono';
  --main-color: #FF0070;
  --accent-color: #DB00FF;
  --accent-title: #FF0070;
  --bg-text: #FF0070;
  --text-header: #000028;
  --title-color: #FF0070;
  --text-color: #F1B2CE ;
  --bg-color: #000028;
  --hover-color:rgba(255, 0, 112, 0.4);
  --display: visible;
  --main-gap: 10px;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя  background-image: url(/images/cover-image-dark.png);
  */
  --accent-font: 'IBM Plex mono';
  --main-color: #FF0070;
  --accent-color: #DB00FF;
  --accent-title: #FF0070;
  --bg-text: #FF0070;
  --text-header: #000028;
  --title-color: #FF0070;
  --text-color: #F1B2CE ;
  --bg-color: #000028;
  --hover-color:rgba(255, 0, 112, 0.4);
  --display: visible;
  --main-gap: 10px;
}
