/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
  background-image: url(/images/cover-image-light.png);
  --accent-font: 'IBM Plex mono';  
  --main-color: #353430;
  --accent-color: #FFC2E6 ;
  --accent-title: #FF0070;
  --bg-text: #FF8DCB;
  --text-header:  #353430;
  --title-color:#353430;
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --display: none;
  --main-gap: 10px;
}


:root.theme-light {
  --accent-font: 'IBM Plex mono';  
  --main-color: #353430;
  --accent-color: #FFC2E6 ;
  --accent-title: #FF0070;
  --bg-text: #FF8DCB;
  --text-header:  #353430;
  --title-color:#353430;
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --display: none;
  --main-gap: 10px;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --accent-font: 'IBM Plex mono';  
      --main-color: #353430;
      --accent-color: #FFC2E6 ;
      --accent-title: #FF0070;
      --bg-text: #FF8DCB;
      --text-header:  #353430;
      --title-color:#353430;
      --text-color: #353430;
      --bg-color: #FFF1F7;
      --display: none;
      --main-gap: 10px;
    }
}